<div class="login-container">
    <p-card header="Iniciar Sesión">
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <div class="field">
          <label for="email">Email</label>
          <input id="email" type="text" pInputText formControlName="email" />
          <div class="error-cont">
            <small *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                Email requerido
              </small>
          </div>
        </div>
  
        <div class="field">
          <label for="password">Contraseña</label>
          <input id="password" type="password" pPassword formControlName="password" />
          <div class="error-cont">
            <small *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                Contraseña requerida
              </small>
          </div>
        </div>
        <div class="login-footer">
            <a href="/register">No tienes cuenta? Registrate AQUI!</a>
            <p-button label="Entrar" type="submit" icon="pi pi-sign-in" [disabled]="this.loginForm.invalid"></p-button>
        </div>
      </form>
    </p-card>
  </div>
  