<div class="layout">
    <p-menubar [model]="menuItems">
        <ng-template pTemplate="start">
          <span class="logo">PharmaShop</span>
        </ng-template>
      
        <ng-template pTemplate="end">
          <div class="right-menu">
            <button pButton icon="pi pi-shopping-cart" class="p-button-rounded p-button-text"></button>
            <p-button icon="pi pi-user" (click)="user.toggle($event)"/>
          </div>
        </ng-template>
      </p-menubar>
      
      <div class="route-content">
        <router-outlet></router-outlet>
      </div>
</div>

<p-popover #user>
    <div class="flex flex-col gap-4">
        <div>
          <p-menu [model]="items" class="flex justify-center" styleClass="w-full md:w-60">
            <ng-template #submenuheader let-item>
                <span class="text-primary font-bold">{{ item.label }}</span>
            </ng-template>
            <ng-template #item let-item>
                <a pRipple class="flex items-center p-menu-item-link" [routerLink]="item.route">
                    <span [class]="item.icon"></span>
                    <span class="ml-2">{{ item.label }}</span>
                </a>
            </ng-template>
            <ng-template #end class="menu-footer">
                <button pRipple class="relative overflow-hidden w-full border-0 bg-transparent flex items-start p-2 pl-4 hover:bg-surface-100 dark:hover:bg-surface-800 rounded-none cursor-pointer transition-colors duration-200 profile-btn">
                    <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" class="mr-2" shape="circle" />
                    <span class="inline-flex flex-col">
                        <span class="font-bold">Amy Elsner</span>
                        <span class="text-sm">Admin</span>
                    </span>
                </button>
            </ng-template>
          </p-menu>
        </div>
    </div>
</p-popover>
